@{
    ViewData["Title"] = "Home";

    Html.Assets().Styles.Add("~/css/home.css");
    Html.Assets().Scripts.Add("~/js/home.js");
}

<h2>
    Example
</h2>
<a href="http://stackoverflow.com/questions/5110028/add-css-or-js-files-to-layout-head-from-views-or-partial-views/5148224#5148224">
    Add CSS or JS files to layout from views or partial views
</a>
<p>
    <button id="example-btn" type="button">
        Click me!
    </button>
</p>
<div id="example">
</div>

@{
	Html.Assets().InlineScripts.Add("console.log('inline script #1');");
	Html.Assets().InlineScripts.Add("console.log('inline script #2');");
}
